* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  background-color: white;
  width: 80%;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.add-scores-section {
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: left;
  width: 80%;
}

h2 {
  margin: 8px 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

section {
  width: 45%;
}

table {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

td {
  padding: 5px;
}

.refresh-button {
  font-size: 1rem;
  padding: 1px;
}

input {
  margin-bottom: 10px;
  padding: 5px;
}

.submit-button {
  margin-bottom: 10px;
  padding: 3px;
  width: fit-content;
  align-self: flex-end;
}
